# Byte-compiled files
__pycache__/
*.py[cod]

# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
*.egg-info/
.dist-info/
*.egg

# Logs
*.log

# Environment variables
.env

# IDE files
.vscode/
.idea/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Python test files
*.cover
*.py,cover
nosetests.xml
coverage.xml
*.cover
*.log
*.pot
*.pyc
*.pyo
*.pyd
__pycache__/
*.pdb
*.db
*.sqlite3
*.sqlite

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json
